*/result
nvim/plugin/packer_compiled.vim
nvim/plugin/packer_compiled.lua
nvim/session/*
nvim/snippets/*
nvim/spell/en.utf-8.add.spl
nvim/snippets
zsh/history
tmux/plugins
DevDocs
Slack
Zeal
mpd
3T
calcurse
chromium
coc
configstore
dconf
discord
dwm-6.2
dwmblocks
fontconfig
fontforge
gcloud
git
gtk-3.0
htop
libreoffice
MongoDB Compass
mutt
mpd
pavucontrol.ini
Postman
procps
pulse
QtProject.conf
StarUML
transmission-daemon
Unknown Organization
VirtualBox
yay
zoomus.conf
Microsoft
autostart
google-chrome
helm
irb
keybase
systemd
teams
lazygit/nvim
lazygit/nvim/*
lazygit/state.yml
zsh/.zcompdump
envman/
NetrwTreeListing
Session.vim
ncmpcpp/ncmpcpp-ueberzug
nvim/.netrwhist
fzf/

